* {
    margin: 0;
    padding: 0;
    /* overflow-x: hidden; */
}

.oneDiv {
    width: 300px;
    height: 250px;
    border: 2px solid red;
    margin: 50px 200px 100px 400px;
    padding: 30px 100px;
}

.image {
    width: 50vw;
    height: 50vh;
    border: 2px solid blue;
    /* border: ; */
    /* border-style: ; */
    /* border-bottom-color: green;
    border-left-color: brown; */
    /* border-color: red yellow green blue; */
    /* background-image: url("images/yoma screenshot.png"); */
    background-size: cover;
    background-repeat: no-repeat;
    /* opacity: 0.3; */
}
h2 {
    font-size: 20px;
    margin-top: -40vh;
    /* outline: 20px solid red; */
    /* border: 20px solid red; */
}